/* Global resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	/* font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif; 
	****************changed font as suggested is not a free font*/
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #989898;
	line-height: 1.4;
}

/* Fonts */
h1 {
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
	font-size: 2.5em;
	font-weight: bold;
}

.container {
	margin: 2em auto;
	max-width: 630px;
	text-align: center;
}

/* The following font information and color codes are provided for you.  They do not match the prototype exactly, but they are fine to use for the assignment and doing so does not count against you.  They are simply meant to help you save time.  We would like everyone to have as close to a pixel-perfect match to the prototype as possible.  If you do find a font/color that matches more precisely, please share it with the team so we can improve the activity for future applicants.  Thank you!  Happy coding!

	FONTS:
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;

  COLORS:
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

/* Your CSS code goes here */

.quotebox {
	background-color: #424242;
    border-radius: 2px;
    color: #F5F4F4;
    font-size: .85rem;
	padding: 20px;
	width: 261px;
	line-height: 1.4px;
	margin: auto;
	text-align: center;
	vertical-align: center;
}

.quotearrow {
	width: 0;
	height: 0;
	margin-left: 765px;
	margin-bottom: 5px;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 6px solid #424242;
}

section {
	background-color: transparent;
	border-color: #E1E1E1; 
	border-width: 1px;
	border-style: solid;
    width: 261px;
    padding-top: -5px;
    height: 205px;
    margin: auto;
	position: relative;
	margin-top: -2px;
	font-size: .8rem;
    box-shadow: 0px 2px #F5F4F4;
}

.tagline {
	color: #F15E33;
	font-weight: bolder;
}

.firstpara {
	padding: 15px 0px 0px 15px;

}

.timebar1 {
	border-color: #E1E1E1;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	background-color: #F15E33;
	width: 259px;
	height: 11px;
	margin-right: 2px;
	/* position: relative; */
}

.timebar2 {
	border-color: #E1E1E1;
	border-width: 0px 0px 1px 0px;  
	border-style: solid;
	background-color: #F5F4F4;
	width: 65.75px;
	height: 11px;
	position: relative;
	float: right;
}

.donortotal {
	background-color: transparent;
	border-color: #E1E1E1;
	border-width: 1px;  
	border-style: solid;
	border-radius: 2px;
    width: 107px;
	line-height: 40px;
	margin: 10px 0px 0px 15px;
	padding-left: 6px;
    bottom: 80px;
    left: 20px;
	float: left;
	font-size: 1.25em;
	font-weight: bold;
}

.givenowbutton {
	background-color: #00BE1C;
	color: white;
	text-align: center;
	border-radius: 2px;
    width: 107px;
	line-height: 42px;
	margin: 10px 15px 0px 0px;
    bottom: 20px;
    left: 20px;
	float: right;
	font-size: 1.25em;
}

.secondpara {
	float: left;
	margin: -25px 0px 0px 15px;
	font-size: .75rem;
	font-style: italic;
	font-weight: bold;
}

.button1 {
	width: 123px;
	height: 34px;
	border-color: #E1E1E1;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	background-color: #F5F4F4;
	margin: 52px 0px 46px -89px;
	font-size: .7rem;
	font-weight: bold;
	color: #707070;
	float: left;
	box-shadow: 0px 1px  #E1E1E1;
}

.button2 {
	width: 123px;
	height: 34px;
	border-color: #E1E1E1; 
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	background-color: #F5F4F4;
	margin: 52px -1px 0px;
	font-size: .7rem;
	font-weight: bold;
	color: #707070;
	float: right;
	box-shadow: 0px 1px  #E1E1E1;
}